:root {
    --background-color: aqua;
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 68, 255);
    --color3: rgb(255, 0, 0);
    --color4: rgb(0, 0, 0);
    --color5: rgb(234, 138, 41);
    --color6: rgb(113, 113, 113);
    --color7: rgb(76, 76, 76);
    --color8: aqua;

    --font1: 1;
    --font2: 2;
    --font3: 3;
}

body {
    font-family: "MinaB", sans-serif;
    background-color: var(--background-color);
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.container {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
    width: 100%;
    background: var(--color1);
    position: fixed;
    padding-block: 13px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.menu {
    height: 100%;
    display: flex;
    /* margin-top:px; */
    /* padding-top:px ; */
    align-items: center;
    align-content: center;
    justify-content: center;
}

.menu img {
    height: 100%;
    width: 30px;
    cursor: pointer;
    transition: scale 0.07s ease;
    margin: 0;
}

.menu img:hover {
    scale: 1.1;
}
.menu {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    margin: 0;
    margin-right: 10px;
    /* border: #000000 solid 1px; */
}
.menu a {
    /* align-items: center; */
    margin: 0;
    /* padding-top: 4px; */
    padding-left: 10px;
    font-size: 18px;
    color: var(--color4);
    transition: scale 0.07s ease, color 0.07s ease, border 0.07s ease;
}

.menu a:hover {
    text-decoration: none;
    scale: 1.1;
    color: var(--color2);
}

.menu .inner-menu .inner-menu-link a:active {
    color: var(--color7);
}

.username {
    display: inline-block;
}

.username .username-button {
    text-decoration: underline;
    font-family: MinaB;
    background: none;
    border: none;
    font-size: larger;
    cursor: pointer;
    transform-origin: center;

    transition: transform 0.07s ease, color 0.07s ease;
}

.username:hover .dropdown-content {
    display: block;
}

.username .username-button:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: var(--color2);
    border: black solid 1px;
}

.dropdown-content:hover {
    display: block;
}

.username .dropdown-content:hover ~ .username-button,
.username:hover .username-button {
    transform: scale(1.1);
    text-decoration: none;
    color: var(--color2);
    border: black solid 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: var(--color1);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: #000000 solid 1px;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    text-align: center;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: var(--color6);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.dropdown-content a:active {
    background-color: var(--color7);
}

.dropdown-content button {
    font-family: MinaB;
    color: var(--color4);
    width: 100%;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: var(--color1);
    text-decoration: underline;
    color: var(--color2);
    transition: color 0.07s ease;
}

.dropdown-content button:hover {
    background-color: var(--color6);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.dropdown-content button:active {
}
.main {
    display: flex;
    flex-direction: column;
    /* background-color: #000000; */
    background-image: url("../assets/background.jpg"); /* Set the background image */
    background-position: center;
    z-index: -5;
    overflow: hidden;
    box-sizing: border-box;
    /* height: 100%; */
    /* background-size: cover; */
}

.main-inner {
    box-sizing: border-box;
    content: "";
    /* position: absolute; */
    left: 0;
    top: 9px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Transparent white background */
    z-index: 0; /* Ensure it is above the background image but below the text */
}

.content {
    display: flex;
    padding: 20px;
    height: 100%;
    padding: 0;
    margin: 0;
    /* margin-top: 50px; */
    margin-block: 260px;
    margin-inline: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 100%; */
    /* background-color: rgb(255, 255, 255, 0.3); */
}

.main-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    margin: 0;
    z-index: 5;
}

.main-content h1,
.main-content h2 {
    font-family: arial;
    font-weight: bold;
    /* border: #000000 solid 3px; */
    white-space: nowrap;
    color: var(--color5);
    text-align: center;

    font-family: winterselfie;
    font-size: 4em;
    text-shadow: -3px -3px 2px var(--color1), 3px -3px 2px var(--color1),
        -3px 3px 2px var(--color1), 3px 3px 2px var(--color1),
        2px 2px 2px var(--color4), 8px 2px 2px var(--color4),
        2px 8px 2px var(--color4), 8px 8px 2px var(--color4);
    margin: 0;
    z-index: 10;
}
.main-content h2 {
    margin-bottom: 20px;
    z-index: 10;
    letter-spacing: 5px;
    font-family: halodek;
    color: var(--color3);
}

.second {
    margin: 0;
    z-index: 10;
    margin-bottom: 25px;
    background-color: var(--color8);
}

/* .left,
.right {
    flex: 1;
    padding: 30px;
    align-content: center;
    align-items: center;
} */

.button {
    z-index: 10;
    display: block;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-family: Fredoka;
    width: 300px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.07s ease, box-shadow 0.07s ease;
    box-shadow: 3px 3px 0px 1px rgb(0, 0, 0);
    /* border-radius: 10px; */
}

.button2 {
    z-index: 10;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-family: Fredoka;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.07s ease, box-shadow 0.07s ease;
    box-shadow: 3px 3px 0px 1px rgb(0, 0, 0);
}

.button:hover,
.button2:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
}
.button:active,
.button2:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 0px 1px rgb(0, 0, 0);
}

.section-header {
    text-align: center;
    font-family: MinaB;
    font-size: 25px;
    /* text-decoration: underline; */
    margin: 0;
    /* margin-inline: 9%; */
}

.section-line {
    display: flex;
    /* width: 100%; */
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    border: 3px solid black;
    z-index: 10;
}

.section-title {
    /* border: #000000 solid 1px; */
    display: flex;
    justify-content: center;
    /* margin-inline: 200px; */
    align-items: center;
    align-content: center;
    padding-inline: 10vw;
    margin: 0;
    margin-inline: 5%;
    margin-block: 10px;
}

.section-title h4 {
    font-family: MinaB;
    font-size: 1.5em;
    text-decoration: underline;
    margin: 0;
    text-align: center;
}

.section-title hr {
    margin-inline: 40px;
    /* margin-top: 5px; */
    flex-grow: 1;
    z-index: 10;
}

.section-title a {
    text-decoration: underline;
    margin-inline: 10px;
    font-size: medium;
    margin: 0;
    font-family: arial;
    font-weight: Semiold;
    color: rgb(55, 55, 55);
    /* width: 100%; */
    /* display: inline-block; */
    white-space: nowrap;
    transition: scale 0.07s ease;
}

.section-title a:hover {
    text-decoration: none;
    scale: 1.1;
    color: #909090;
}

.additional-content {
    display: flex;
    justify-content: center;
    /* padding: 0px 20px; */
    padding: 0;
    padding-inline: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    padding: 10px;
    border: 3px solid black;
    margin-inline: 20px;
    background-color: var(--color1);
    box-shadow: 3px 3px 0px black;
    margin-bottom: 40px;
    box-sizing: border-box;
    /* position: relative; */
    /* height: 100%; */
}

.item .button2 {
    display: inline-block;
}

.image img {
    max-width: 400px;
    max-height: 225px;
    width: 100%;
    height: auto;
    border: #000000 solid 1px;
}

.text {
    width: 100%;
    box-sizing: border-box;
    /* overflow: hidden;*/
    height: 100%;
}

.title h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0;
    text-align: center;
}

.description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; /* Limit to 8 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(
        1.2em * 8
    ); /* Adjust the line height (1.2em) and number of lines (8) */
    line-height: 1.2em; /* Adjust the line height */
    word-wrap: break-word; /* Ensure long words break to fit within the container */
}

.description {
    font-size: 1em;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    /* padding: 50px; */
    border: 1px solid #888;
    /* width: 200px; */
    padding-block: 20px;
    max-width: 200px;
    text-align: center;
    border: #000000 solid 3px;
    box-shadow: #000000 3px 3px 0px;
}

.third {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: sta;
}

.leaderboard {
    width: 40%;
    border-collapse: collapse;
    background-color: rgb(3, 135, 135);
    color: white;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
}
.leaderboard th,
.leaderboard td {
    border: 1px solid black;
    border-radius: 10px;
    /* width: 150px;  */
    height: 20px;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.carousel {
    /* position: relative; */
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators button {
    background-color: #888;
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators button.active {
    background-color: #000;
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators button {
    background-color: #888;
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators button.active {
    background-color: #000;
}

.second_third {
    display: flex;
    justify-content: baseline;
    align-items: center;
    /* margin-top: 50px; */
    align-items: start;
}
