<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/home.css" />
    <link rel="stylesheet" href="../../public/css/font.css" />
    <script src="../../public/js/home.js" defer></script>
  </head>
  <body>
    <div class="container">
        <div div class="header">
            <div class="menu">
                <img src="../../public/assets/Logo.png" >
                <a href="#artikel">Artikel</a>
                <a href="#leaderboard">Leaderboard</a>

            </div>
            <div class="username">
                <button id="usernameButton" class="username-button">Guest</button>
                <div id="dropdown" class="dropdown-content">
                    <a href="/">Login</a>
                    <a href="/">Register</a>
                    <button id="logout_button">Logout</button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-inner">
                <div class="content">
                    <div class="main-content">
                        <h1>Kuis Sejarah</h1>
                        <h2>Indonesia</h2>
                        <button class="button">Take Quiz</button>
                        <button class="button">Learn</button>
                    </div>
                    <!-- <div class="right">
                        <table class="leaderboard">
                        <thead>
                            <tr>
                            <th>Username</th>
                            <th>Nilai</th>
                            <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="leaderboard-value">
                            <tr>
                            <td>user1</td>
                            <td>90</td>
                            <td></td>
                            </tr>
                            <tr>
                            <td>user2</td>
                            <td>85</td>
                            <td></td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="section-header">
            <hr class="section-line">
        </div>
        <div class="third" id="leaderboard">
            <div class="section-header">
                <div class="section-title">
                    <hr class="section-line">
                    <h4>Leaderboard</h4>
                    <hr class="section-line">
                </div>
            </div>
            <div class="additional-content">
                <table class="leaderboard">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Total Nilai</th>
                            <th>Tanggal Kuis Terakhir</th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard-value">
                        <tr>
                            <td>user1</td>
                            <td>90</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>user2</td>
                            <td>85</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="second" id="artikel">
            <div class="section-header">
                <!-- <hr class="section-line"> -->
                <div class="section-title">
                    <h4>Artikel</h4>
                    <hr class="section-line">
                    <a href="">Buka Halaman Artikel&#x1F517</a>
                </div>
            </div>
            <div class="additional-content">
                <div class="item">
                    <div class="image">
                        <img src="https://via.placeholder.com/400x225" alt="Placeholder Image">
                    </div>
                    <div class="text">
                        <div class="title"><h4>Title 1</h4></div>
                        <div class="description"><p>Description 1<p></div>
                    </div>
                    <button class="button2">Baca</button>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://via.placeholder.com/400x225" alt="Placeholder Image">
                    </div>
                    <div class="text">
                        <div class="title"><h4>Title 1</h4></div>
                        <div class="description"><p>Description 1<p></div>
                    </div>
                    <button class="button2">Baca</button>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://via.placeholder.com/400x225" alt="Placeholder Image">
                    </div>
                    <div class="text">
                        <div class="title"><h4>Title 1</h4></div>
                        <div class="description"><p>dfsfsdfsdfsdfsdfsd dfsfsdfsdfsdfsdfsddfsfsdfsdfsdfsdfsddfsfsdfsdfsdfsdfsd1<p></div>
                    </div>
                    <button class="button2">Baca</button>
                </div>
            </div>
        </div>
    </div>
    <div id="logout_modal" class="modal">
        <div class="modal-content">
            <p>Beneran Logout?</p>
            <form method="post" action="">
                <input type="hidden" name="action" value="logout">
                <button type="submit" class="button2">Yes</button>
                <button type="button" id="cancel_button" class="button2">Cancel</button>
            </form>
        </div>
    </div>
    <!-- <script>
        var modal = document.getElementById("logout_modal");
        var logout_button = document.getElementById("logout_button");
        var cancel_button = document.getElementById("cancel_button");

        logout_button.onclick = function() {
            modal.style.display = "block";
        }

        cancel_button.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var currentIndex = 0;
      var items = document.querySelectorAll('.carousel-item');
      var indicators = document.querySelectorAll('.carousel-indicators button');

      function showSlide(index) {
          items.forEach((item, i) => {
              item.style.transform = `translateX(-${index * 100}%)`;
              indicators[i].classList.toggle('active', i === index);
          });
      }

      function nextSlide() {
          currentIndex = (currentIndex + 1) % items.length;
          showSlide(currentIndex);
      }

      indicators.forEach((indicator, index) => {
          indicator.addEventListener('click', () => {
              currentIndex = index;
              showSlide(currentIndex);
          });
      });

      setInterval(nextSlide, 5000);
    </script> -->
  </body>
</html>
